
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
   --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
   --Dark-gray: hsl(0, 0%, 59%);
}


*{
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
    background-position: top -500px left -400px, right -500px bottom -1187px;
    background-repeat: no-repeat;
    background-color: var(--Dark-cyan);
}

.cotainer {
    width: 350px;
    border: 1px solid black;
}